/* footer 전체 설정 */
.footer {
	width: 100%;
	min-width: 1440px;
	height: 300px;
	background-color: #eee;
}
/* footer 내 div 내용 크기 설정 */
.footer-content {
    width: 1100px;
	padding: 65px 0px;
	margin: 0px auto;
	position: relative;
	border-top: 1px solid rgb(220, 220, 220);
}
.footer-content ::after {
	display: block;
	content: "";
	clear: both;
}
/* footer div내 h1요소 조정 */
.footer-content>h1 {
	margin-bottom: 18px;
	color: orange;
	font-size: 18px;
	font-weight: 500;
	line-height: 18px;
}
.last>li {
	float: left;
	list-style: none;
}
.last>li>a {
	color: #888888;
	font-size: 15px;
	text-decoration: none;
}
.last>li+li::before {
	content: "";
	float: left;
	height: 12px;
	margin-left: 8px;
	padding-left: 9px;
	position: relative;
	bottom: -3px;
	border-left: 1px solid rgb(211, 211, 211);
}
.last::after {
	display: block;
	content: "";
	clear: both;
}
.text>span {
	float: left;
	line-height: 15px;
}
.text {
	margin-bottom: 18px;
	color: rgb(136, 136, 136);
	font-size: 15px;
	font-weight: 400;
	line-height: 15px;
}
.text>span+span::before {
	content: "";
	float: left;
	height: 12px;
	margin-left: 8px;
	padding-left: 9px;
	border-left: 1px solid rgb(211, 211, 211);
	position: relative;
	bottom: 1px;
}
.text::after {
	display: block;
	content: "";
	clear: both;
}
/* 작은 소개글 요소 설정 */
.min_t {
	font-size: 15px;
	color: gray;
	margin-bottom: 37px;
	opacity: 0.6;
}