.header {
    position: relative;
}

.header nav {
    text-align: right;
}

.user_area {
    width: 1100px;
    text-align: right;
    margin: auto;
}

.user_area > nav > a {
    font-size: 16px;
    padding: 10px 0 10px 15px;
    display: inline-block;
}

.header_area {
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo {
    height: 55px;
}

.logo > a {
    display: block;
    height: 55px;
    text-align: center;
}

.logo > a > img {
    height: inherit;
}

.all {
    position: absolute;
    width: 180px;
    left: 0;
    font-size: 20px;
}

.all > a {
    line-height: 70px;
}

.nav {
    text-align: center;
}

.nav_ul {
    display: inline-block;
}

.nav_list {
    float: left;
    width: 180px;
    position: relative;
}

.nav_list:hover .submenu {
    display: block;
}

.nav_list > a {
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
    line-height: 70px;
    width: 180px;
    height: 70px;
}

.submenu {
    width: 180px;
    border-top: 3px solid orange;
    font-size: 16px;
    font-weight: 500;
    background-color: #fff;
    position: absolute;
    display: none;
    z-index: 10;
}

.submenu_list {
    margin: 10px 0;
}

.direct {
    position: absolute;
    top: 80px;
    right: 0;
    font-size: 20px;
}

.all-category {
    background-color: #fff;
    z-index: 10;
    display: none;
    height: 190px;
}

.category_contents {
    width: 1100px;
    margin: auto;
    position: relative;
    border-top: 3px solid orange;
}

.box {
    position: absolute;
    width: 180px;
    font-size: 16px;
    font-weight: 500;
}

.box1 {
    left: 0px;
    padding-right: 10px;
}

.box2 {
    left: 190px;
}

.box3 {
    left: 370px;
}

.box4 {
    left: 550px;
}

.box_list {
    text-align: center;
    margin: 10px 0;
}

.box1 > li {
    text-align: left;
}

.box_list > a {
    
}

.all:hover .all-category {
    display: block;
}
