@charset "utf-8";

body{
	color:#222;
}

a, a:visited {
	color: #222;
	text-decoration: none;

}

.container{
	width: 450px;
	margin: auto;
}
.login-form h2{
	text-align: center;
	font-size: 30px;
	padding: 20px;
}

.login-form p {
	text-align: center;
	padding-bottom: 50px;
}


.id-control, .pw-control{
	width: 450px;
	height: 60px;
	box-sizing: border-box;
	border: 1px solid #BDBDBD;
	margin-bottom: 20px; 

}
.login-btn{
	margin: 20px 0;
	width: 450px;
	height: 60px;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	background: orange;
	border: 1px solid orange;
	box-sizing: border-box;

}

.joinset{
	text-align: center;
}

.joinset button, .joinset p{
	display: inline-block;
	text-align: center;
	border: none;
	background-color: #fff;
	font-size: 16px;


}

