@charset "utf-8";

.tab-content--show{
	width: 850px;
	margin: auto;

}

.tab-content--show > h2{
	font-size: 30px;
	text-align: center;
	padding:  30px 0;
	border-bottom: 3px solid orange;
	margin-bottom: 10px;
}

.rowsList__total{
	padding-bottom: 10px; 
	border-bottom: 1px solid #bdbdbd;
}

.btn-init{

	width: 105px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	background-color: orange;
	color: #fff;
	font-weight: bold;
	float: right;
}
.rowsList__total> strong {
	width: 105px;
	height: 45px;
	line-height: 45px;
}



.ques{
	padding: 20px;
	border-bottom: 1px solid #bdbdbd;

}

.right{
	float: right;
}



.my-text, .admin-anwser{
	padding: 20px;
	border-bottom: 1px solid #bdbdbd;
}

.admin-anwser__date> span{
	font-weight: bold;
}

.admin-anwser p {
	padding: 20px 0px;

}

/*.awsn{
	background-color: #F9F9F9;
}*/