@charset "utf-8";

a{
	text-decoration: none;
	color: #222;
}

.sub-cont{
	width: 850px;
	margin: auto;
}
.condi{
	height: 73px;
	border-top: 3px solid orange;
	border-bottom: 3px solid orange;
	margin: 30px 0 ;
}


.sub-cont__title{
	display: inline-block;
	font-size: 20px;
	line-height:73px; 

}

.hd__custom-select{
	display: inline-block;
	float: right;
	height: 74px;

}

.select-area{
	height: 20px;
	margin-top: 23%;
	color: #3D3D3D; 
}

.orderListView__top{
	padding-bottom: 27px;
}

.head{
	padding: 20px 0;
	border-top: 1px solid #BDBDBD;
	border-bottom:  1px solid #BDBDBD;
}

.view-detail{
	margin-top:15px;
	background: none;
	border: none;
	padding: 0;
	color: #3D3D3D;

}

.pagenation{
	margin: auto;
	width: 34px;
	height: 34px;
	background-color: orange;
	color: #fff;
	text-align: center;
	line-height: 34px;

}

#dvListArea{
	margin-bottom: 50px;
}