@charset "utf-8";

.myPersonalInquery__sec{
	width: 850px;
	margin: auto;
}

.myPersonalInquery__sec > h2 {
	font-size: 25px;
	text-align: center;
	padding: 30px 0;
	border-bottom: 3px solid orange;
}

.myPersonalInquery__sec input, .hd__custom-select select{
	width: 460px;
	height: 44px;
	border: 1px solid #BDBDBD;
	padding: 10px;
	color: #3D3D3D;
}

.inquery__title{
	display: inline-block;
	width: 130px;
	height: 44px;
	line-height: 44px;
	float: left;
}

.inquery__sec{
	margin: 10px 0;
}

.input__textarea{
	width: 720px;
	height: 280px;
	resize: none;
	border: 1px solid #BDBDBD;
	padding: 10px;
	font-size: 16px;
}

#file1{
	border:none;
}

.file_info p{
	color: #888888;
	margin-top:10px; 
	font-size: 15px;

}


#in_title{
	height: 100px;
}

.btn{
	
	padding-top: 20px;
	margin-left: 250px;

}

.btn-init {
	width: 202px;
	height: 60px;
	font-size: 18px;

}

.white{
	background: #fff;
	border:1px solid #BCBCBC;
	color: #3D3D3D;
	box-sizing: border-box;
}

.orange{
	background: orange;
	border:1px solid orange;
	color: #fff;
	box-sizing: border-box;
}