@charset "utf-8";

ul, li {
	list-style: none;
}

input[type=radio] {display: none; margin: 10px;}

.meals__title{
	padding: 20px 0 ;
}
.mealsSchedule{
	width: 600px;
	margin: auto;
	text-align: center;
}

.meals-order li {
	margin-bottom: 60px;
	color: #3D3D3D;
}

.meals__title{
	font-size: 36px;
	text-align: center;
	margin-top: 30px;
}

.meals-area__cont__title{
	font-size: 20px;
	border-top: 3px solid orange;
	padding-top: 50px; 
}



.hd .mealsSchedule .meals-area {
    margin-bottom: 30px;
    padding: 25px 0 85px;
}
/*.hd .meals-area {
    position: relative;
    padding-bottom: 50px;
    border-top: 3px solid #006450;
    background: #FFF;
    box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.1);
}*/

.meals-area__cont{
	    box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.1);
}
section {
    display: block;
}

.hd__custom-label label {
    display: block;
    width: 160px;
    height: 60px;
    border: 1px solid #BCBCBC;
    background: #F4F4F4;
    text-align: center;
    line-height: 58px;
    font-size: 20px;
    font-weight: 600;
    box-sizing: border-box;
    cursor: pointer;
    margin: 20px;
    float: left;
}

/* 라디오버튼 클릭시 색 변경 */
.hd__custom-label input[type="checkbox"]:checked + label, .hd__custom-label input[type="radio"]:checked + label {
    border: 1px solid orange;
    background: orange;
    color: #FFF;
}

.box{
	padding-bottom: 50px;
	margin-bottom: 60px; 
}

.box-m{
	margin-left: 100px; 
}

.text__desc{
	font-size: 13px;
}

.meals-final__cont {
    display: block;
    vertical-align: middle;
    font-size: 36px;
    padding: 20px 0 40px 0;
}

.btn-init {
    display: inline-block;
    margin: 0 1px;
    width: 310px;
    height: 70px;
    line-height: 68px;
    font-size: 24px;
    font-weight: 600;
}

.btn-init {
    background: #FFF;
    border: 1px solid #BCBCBC;
    color: #3D3D3D;
    box-sizing: border-box;
}

.meals-final__cont__num{
	border-bottom: 8px solid orange;
}