<html>

<head>
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/main.css" />
</head>

<body>
<div id="wrap">
        
<!-- 검색 팝업 -->

<div class="hd__popup hd__popup-v2 popup_search">
    <article class="hd__popup__modal modal">
        <section class="modal__sec">
            <strong class="modal__sec__title bb-none">
				상품검색
                <a href="#" class="btn__close-x btn__modal-close">
                    <span class="hidden">레이어 팝업 닫기</span>
                </a>
            </strong>

            <section class="input-text">
                <input type="text" id="searchInput" class="search-input" placeholder="검색어를 입력해 주세요."> 
                <button class="btn-init green" id="dvSrhFilterBtn">검색</button>
            </section>
            
            <div class="modal__sec__cont scroll">
            	<button class="btn-clear" id="btnClear"><span class="btn-img" >초기화</span></button>
            	<div id="dvGetFilterArea">
	            	<script type="text/x-handlebars-template" id='dvFilterGrpTemplate'>
                		<section class="category">
		                    <h3 class="category__title">{{FILTER_GRP_NAME}}</h3>
                    		<ul class="box" id="dvFilterGrpSubTemplate{{FILTER_GRP_CODE}}"></ul>
                		</section>
					</script>
				
					<script type="text/x-handlebars-template" id='dvFilterListTemplate'>
	                    <li class="box__list hd__custom-label">
                        	<input type="checkbox" class="hidden" name="{{FILTER_GRP_CODE}}_{{IL_ITEM_FILTER_ID}}" id="filter_{{IL_ITEM_FILTER_ID}}" value="{{IL_ITEM_FILTER_ID}}" data-filtername="{{FILTER_NAME}}">
                        	<label for="filter_{{IL_ITEM_FILTER_ID}}">{{FILTER_NAME}}</label>
                    	</li>
					</script>
				</div>
				
				<div class="btn">
	                <button class="btn-init white" id="btnClear"><span class="btn-img" >초기화</span></button>
	                <button class="btn-init green" id="dvSrhFilterSelectBtn">선택완료</button>
	            </div>
            </div>
        </section>
    </article>
</div>
        
        <main id="contents" class="hd__meals">
            
            <div class="meals hd__inner1100">
                <section class="meals__sec">
                    <h2 class="meals_title">새로운 <span>건강관리</span>의 시작</h2>

                    <p class="meals_subtitle">나에게 맞는 식단을 골라,<br/>정기적으로 배송 받고 건강한 식습관을 만드세요</p>

					<ul class="meals_banner clearfix">
	                        
                        <li>
                            <a href="/planMeals/menuPreview?mealType=1" target="_self">
                                <img src="https://image.greating.co.kr/DP/banner/202004/4C7745E80B4C4F6CBB6DE2D782EA37E7.png" alt="" nolazyload >
                            </a>
                            <a href="#" class="order">
                                <p class="order_title">건강식단</p>
                                <p class="order_subtitle">건강한 영양소 섭취</p>
                                <p class="order_order">주문하기</p>
                            </a>
                        </li>
                    
                        <li>
                            <a href="/planMeals/menuPreview?mealType=2" target="_self">
                                <img src="https://image.greating.co.kr/DP/banner/202004/64EE4D30D85C4FC7981671EB187B5688.png" alt="" nolazyload >
                            </a>
                            <a href="#" class="order">
                                <p class="order_title">라이트식단</p>
                                <p class="order_subtitle">건강한 영양소 섭취</p>
                                <p class="order_order">주문하기</p>
                            </a>
                        </li>
                    
                        <li>
                            <a href="/planMeals/menuPreview?mealType=3" target="_self">
                                <img src="https://image.greating.co.kr/DP/banner/202004/1E2B51BB31FB405F8D506567827586C4.png" alt="" nolazyload >
                            </a>
                            <a href="#" class="order">
                                <p class="order_title">비건식단</p>
                                <p class="order_subtitle">건강한 영양소 섭취</p>
                                <p class="order_order">주문하기</p>
                            </a>
                        </li>
                    
                        <li>
                            <a href="/planMeals/menuPreview?mealType=3" target="_self">
                                <img src="https://image.greating.co.kr/DP/banner/202004/4C7745E80B4C4F6CBB6DE2D782EA37E7.png" alt="" nolazyload >
                            </a>
                            <a href="#" class="order">
                                <p class="order_title">헬스식단</p>
                                <p class="order_subtitle">건강한 영양소 섭취</p>
                                <p class="order_order">주문하기</p>
                            </a>
                        </li>
                        
                    </ul>
                    
                </section>
                
                <section class="market__sect inquiry">
                    <h2 class="inquiry__title strong">도움이 필요하세요?</h2>
                    <p class="inquiry__subtitle">정기식단 서비스에 대한 궁금한 사항을 문의하세요</p>

                    <div class="icon-area">
                        <a href="/serviceCenter/serviceCenterMain" title="고객센터" class="icon-area-phone">고객센터</a>
                        <a href="javascript:csKakao();" title="카카오톡 문의" class="icon-area-kakao">카카오톡 문의</a>
                    </div>
                </section>
            </div>
        </main>
        
        

		<!-- 플로팅 배너 -->
		<aside id="sideBanner" class="side-banner">
			<!-- 사이드배너  -->
			<div class="side-slide-wrap">
				<div id="sideSlide" class="side-slide"></div>
				<button class="slide-prev"></button>
				<button class="slide-next"></button>
			</div>
			
			<!-- 최근 본 상품 -->
			<div id="sideMyViewItem" class="good-list">
				<h2><a href="/myPage/myViewItemList">최근 본 상품</a></h2>
				<ul id="sideMyViewItemList">
					
				</ul>
			</div>
			<span id="sideBannerCustomerCenter" class="call-center"></span>
		</aside>
		
<footer id="footer" class="hd__footer">
    <div class="hd__footer__inner">
        <div class="hd__footer__left">
            <ul class="item">
            	<!--<li><a href="https://hyundaigreenfood.com/po/INDEX.hgc" target="_blank">회사소개</a></li> -->
                <li><a href="/main/boardDetail?freeboardId=239">회사소개</a></li>
                <li><a href="/serviceCenter/userGuide">이용안내</a></li>
                <li><a href="#" class="winOpen" data-url="/main/defaultCaulse?ID=1">이용약관</a></li>
                <li><a href="#" class="bold winOpen" data-url="/main/personalInfo?ID=2">개인정보처리방침</a></li>
            </ul>

            <div class="support">
                <strong class="support__title">고객센터</strong>
                <span id="CUSTOMER_CENTER_TEL" class="support__tel"></span>
                <p id="CUSTOMER_CENTER_TIME" class="support__desc"></p>
            </div>

        </div>

        <div class="hd__footer__right">
            <div class="company"> 
            	<strong id="COMPANY_NAME" class="company__name"></strong>
            	<p id="COMPANY_INFO" class="company__info"></p>
            </div>

            <em id="COPYRIGHT" class="copyright"></em>

        </div>
    </div>
    <script src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
	<script>
		//카카오톡 cs문의
		function csKakao() {
			Kakao.cleanup();
			Kakao.init(SS_KAKAO_ID);
			Kakao.PlusFriend.chat({
				plusFriendId: '_xjuhtT'
			});    
		}
	</script>
</footer>

</div>
    
    
</body>
</html>