<html>
<head>
	<meta charset="UTF-8" />
	<title>momogo myPage</title>
</head>

<link rel="stylesheet" type="text/css"  href="../css/orderCart.css">
<link rel="stylesheet" type="text/css"  href="../css/reset.css">


<div class="orderCart hd__inner1100">
	<h2 class="hd__page-title">장바구니</h2>

				<!-- <ul class="tab-menu clearfix" id="carttab">
					<li class="tab-menu__list tab-menu__list--on" data-tab="cartOriginal" id="cartOriginal"><a href="#"><strong>일반</strong></a></li>
					<li class="tab-menu__list" data-tab="cartEvent" id="cartEvent"><a href="#"><strong>추석선물</strong></a></li>
				</ul> -->

				<section class="orderCart__sec ">
					<!-- all select -->
					<div class="orderCart__top clearfix">
						<div class="orderCart__top__ctrl">
							<span class="checks ">
								<input type="checkbox" name="all" id="checkall" checked="" data-item-all="">&nbsp;
								<label for="checkall">전체선택</label>
							</span>
							<button class="btn__all-delete clearfix" id="dvDelSelectCart">삭제</button>
						</div>
					</div>
					<!-- //all select -->

					<!-- goods list -->
					<div class="orderCart__list ">
						<ul class="orderCart__title">
							<li>제품정보</li>
							<li>판매금액</li>
							<li>수량</li>
							<li>구매금액</li>
						</ul>
						<ul class="box" id="dvCartListArea">
							<!-- dvCartDetlSingleTemplate -->
							<!-- dvCartDetlMultiTemplate -->
							<li class="orderCartBox__list multi">
								<div class="orderCartBox__list__inner">
									<input type="hidden" name="dvItemId" id="dvItemId_102219" value="102219">
									<input type="hidden" name="dvRegularPeriod" value="">
									<input type="hidden" name="dvCartPrice" id="dvCartPrice_323138" value="8800">
									<input type="hidden" name="dvCartId" id="dvCartId_323138" value="323138">

									<!-- 상품선택 체크박스 -->
									<span class="checks">
										<!-- 판매중단 / 일시품절 / 판매중단인 경우 비노출 -->
										<input type="checkbox" id="prdSelect323138" name="all" title="상품선택" class="dvCartId" value="323138" data-item-list="" checked="checked" data-menutype="1">
										<label for="prdSelect323138"></label>
									</span>


									<div class="cont__text">
										<strong class="cont__title">웰니스식단 / 1주 / 9끼니 / 배송횟수 3회</strong>
									</div>

									<span class="selling-price price01">
										79,200원
									</span>


									<!-- 200227 식단 수량 추가 -->

									<div class="prd_value">
										<span class="prd_length">
											<input type="text" min="1" maxlength="5" class="mealOrderQty" onkeydown="return fnNumCheck(event)" id="mealOrderQty_323138" name="323138" value="1" oldqty="1" stock="999" spcartid="323138" numberonly="">
											<button type="button" class="btn_st1_plus">수량 감소</button>
											<button type="button" class="btn_st1_minus">수량 증가</button>
										</span>
									</div>


									<span class="selling-price price02">
										79,200원
									</span>

									<button type="button" class="btn__list-delete dvDelCart">
										<span class="hidden">삭제</span>
									</button>
								</div>

								
							</li></ul>
						</div>
						<!-- //goods list  -->



						<!-- payment -->
						<div class="orderCart__total clearfix" id="dvCartSummaryArea">


							<div class="orderCart__total__cont">
								<p class="orderCart__total__txt">총 결제 예정금액</p>
								<em class="orderCart__total__price"><span>79,200</span>원</em>
							</div></div>
							<!-- //payment -->

							<div class="btn">
								<button type="button" class="btn-init white" id="goHome">홈으로</button>
								<button type="button" class="btn-init orange" id="dvSelectOrder">구매하기</button>
							</div>
						</section>
					</div></html>